*{
  margin: 0;
  padding: 0;
}
#root{
  margin: 0 1rem;
  border-radius: 0 0 50px 50px ;
  color: #9e9d9d;
  background-color: #30233f;
}

.headContainer{
  display: flex;
  justify-content: center;
}

.Lista-de-tareas, .contenedor{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}
.taskForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputUpdate{
  background-color: transparent;
  border: none;
  color: #B6C2CF;
}

 .taskCounter{
  margin-bottom: 10px;
 }
.taskHeader{
  margin-bottom: 5px;
  font-family: 'Nunito', sans-serif;
}

.pendingTasks{
margin-bottom: 15px;
}

.taskcount-container{
  display: flex;
  justify-content: center;
}
.btn-add{
  margin:0 15px;
  width: 85px;
  height: 25px;
  border-radius: 5%;
  border: 0;
  color: white;
  background-color: darkcyan;
}
.btn-edit:hover{
  background-color: rgb(7, 77, 77);
}

.buttonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-delete, .btn-edit{
  margin: 0 15px ;
  padding: 5px 5px;
  border-radius: 50%;
  border: none;
  color:white;
  cursor: pointer;
}
.btn-delete{
  background-color: transparent;
}
.btn-delete:hover{
  background-color: rgb(122, 2, 2);
}

.btn-edit{
  background-color: transparent;
}

.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #19191a;
}

@media (max-width:760px) {
  .pendingTasks{
    display: flex;
    padding: 0 55px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .list{
    justify-content: center;
  }
  

  .btn-edit, .btn-delete{
    margin:0 5px !important;
  }
  
}

@media (min-width:760px) {
  .inputUpdate{
    font-size: 20px;
    font-weight: bold;
  }

}
