*{
  margin: 0;
  padding: 0;
}
#root{
  border: 2px solid rgb(199, 196, 196);
  margin: 6rem;
  border-radius: 50px;
}

.Lista-de-tareas, .contenedor{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px; 
  padding: 50px 0;
}
 .taskCounter{
  margin-bottom: 10px;
 }
.taskHeader{
  margin-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.taskcount-container{
  display: flex;
  justify-content: center;
}
.btn-add{
  margin:0 15px;
  width: 85px;
  height: 25px;
  border-radius: 5%;
  border: 0;
  color: white;
  background-color: darkcyan;
}
.btn-edit:hover{
  background-color: rgb(7, 77, 77);
}


.btn-delete, .btn-edit{
  margin: 0 15px ;
  padding: 2px 20px;
  border-radius: 45%;
  border: 0;
  color:white;
  cursor: pointer;
}
.btn-delete{
  background-color: red;
}
.btn-delete:hover{
  background-color: rgb(122, 2, 2);
}

.btn-edit{
  background-color: #41a5cc;
}


.list{
  list-style: none;
}